<div class="container">
    <div class="row">
        <div class="col-md-6">
            <section class="container-experience">

                {{#with viewInfo.coffeeInfo}}

                <h1>{{name}}</h1>

                <hr>

                <div class="row">
                    <div class="col-md-8">
                        <h3>Details</h3>
                        <img src="{{image}}" alt="coffee image">
                        <p><strong>Address:</strong> {{address}}</p>
                    </div>

                </div>

                <hr>
                <div class="coffees-btn">

                    {{#if ../isAdmin}}

                    <form action="/coffees/{{id}}/delete" method="POST">
                        <button class="btn btn-sm btn-warning" type="submit">Delete</button>
                    </form>
                    <a href="/coffees/{{id}}/edit" class="btn btn-sm btn-dark">Edit</a>

                    {{/if}}

                    <form action="/users/{{id}}/add-to-fav" method="POST">
                        <button class="btn btn-sm btn-warning" type="submit">Add to my Favorite Coffeeshops</button>
                    </form>

                    <a href="/coffees" class="btn btn-dark">Back to Coffeeshops</a>
                </div>
                {{/with}}
            </section>
        </div>

        {{!-- Coffeeshop User-experience --}}

        <div class="col-md-6">
            <form action="/coffees/{{viewInfo.coffeeInfo.id}}/experience" method="POST">


                <div class="mb-3">
                    <label for="description" class="form-label">Coffeeshopper Experiences</label>
                    <input type="text" class="form-control" id="description" name="description">
                </div>

                <button type="submit">Send experience</button>
            </form>

            {{!-- Comment to Coffeeshop User-experience --}}

            <ul>
                {{#each viewInfo.experiences}}
                <li>
                    <p><a href="/">{{description}}</a></p>
                    <p>{{owner.username}}</p>

                    {{#each comments}}
                    <p>{{description}}</p>
                    {{/each}}

                    <form action="/coffees/{{../coffeeInfo.id}}/comments/{{_id}}" method="POST">

                        <div class="mb-3">
                            <label for="comments" class="form-label">Comments</label>
                            <input type="text" class="form-control" id="comments" name="comments"
                                placeholder="If you have any comments, please send your feedback. ">
                        </div>

                        <button type="submit">Send comment</button>
                    </form>

                </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>