<div class="container pt-3">
    <div class="row">
        <div class="col-md-6">
            <section class="container-experience">

                {{#with viewInfo.coffeeInfo}}

                <h1>{{name}}</h1>

                <hr>

                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-8">
                            <h3>Details</h3>
                            <img id="coffee-details-img" src="{{image}}" alt="coffee image">
                            <p><strong>Address:</strong> {{address.address}}</p>
                        </div>
                    </div>

                    <hr>
                    <div class="coffees-btn">

                        <form action="/users/{{id}}/add-to-fav" method="POST">
                            <button class="btn btn-sm btn-warning m-1" type="submit">Add to my Favorite
                                Coffeeshops</button>
                        </form>
                        <a href="/coffees" class="btn btn-dark mt-2">Back to Coffeeshops</a>

                        {{#if ../isAdmin}}
                        <a href="/coffees/{{id}}/edit" class="btn btn-dark btn-md text-white m-1">Edit</a>
                        <form action="/coffees/{{id}}/delete" method="POST">
                            <button class="btn btn-md btn-secondary" type="submit">Delete</button>
                        </form>


                        {{/if}}

                    </div>
                    {{/with}}
            </section>
        </div>

        {{!-- Coffeeshop User-experience --}}

        <div class="col-md-6">
            <form action="/coffees/{{viewInfo.coffeeInfo.id}}/experience" method="POST">


                <div class="mb-3">
                    <label for="description" class="form-label btn"
                        style="font-size: 35px; color:rgb(255 193 7); font-weight:600">Coffeeshopper
                        Experiences</label>
                    <input type="text" class="form-control" id="description" name="description">
                </div>

                <button type="submit">Send experience</button>
            </form>

            {{!-- Comment to Coffeeshop User-experience --}}

            <ul>
                {{#each viewInfo.experiences}}
                <li>
                    <p><a href="/">{{description}}</a></p>
                    <p>{{owner.username}}</p>

                    {{#each comments}}
                    <p>{{description}}</p>
                    {{/each}}

                    <form action="/coffees/{{../viewInfo.coffeeInfo.id}}/comments/{{_id}}" method="POST">

                        <div class="mb-3">
                            <label for="comments" class="form-label" style="font-size: 25px; font-weight:600">Comment on
                                your Friends
                                Experiences</label>
                            <input type="text" class="form-control" id="comments" name="comments"
                                placeholder="If you have any comments, please send your feedback. ">
                        </div>

                        <button type="submit">Send comment</button>
                    </form>

                </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>