<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2>Edit {{coffees.name}}</h2>
            <form action="/coffees/{{coffees.id}}/edit" method="POST" enctype="multipart/form-data">

                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" name="name" value="{{coffees.name}}">
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Image</label>
                    <input type="file" class="form-control" id="coffeeImage" name="coffeeImage"
                        value="{{coffees.image}}">
                </div>
                <div class="mb-3">
                    <label for="address" class="form-label">Address</label>
                    <input type="text" class="form-control" id="address" name="address" value="{{coffees.address}}">
                </div>
                <div class="mb-3">
                    <label for="latitude" class="form-label">Latitude</label>
                    <input latitude="text" class="form-control" id="latitude" name="latitude">
                </div>
                <div class="mb-3">
                    <label for="longitude" class="form-label">Longitude</label>
                    <input type="text" class="form-control" id="longitude" name="longitude">
                </div>

                <button type="submit" class="btn btn-dark">Save changes</button>
                <a href="/coffees" class="btn btn-dark">Back to Coffeeshops</a>
            </form>
            <hr>
        </div>
    </div>
</div>