<div class="container">

    <h1>{{user.username}} | Profile</h1>

    <hr>

    <div class="row">
        <div class="col-md-4">
            <img src="{{user.avatar}}" alt="{{user.username}}" style="width: 100%">
        </div>
        <div class="col-md-8">
            <h3>Info</h3>
            <p><strong>Who is {{user.username}}?</strong> {{user.description}}</p>
            <div class="col-md-4">
                <p><strong>Favorite Coffeeshops:</strong></p>
                {{#each coffees}}

                <p>{{name}}</p>
                <img src="{{image}}" alt="{{name}}">
                <p>{{address}}</p>

                {{/each}}
            </div>
        </div>


    </div>

    {{#if thisUser}}
    <a href="/users/{{user.id}}/edit">Edit My Profile</a>
    <form action="/users/{{user.id}}/delete" method="POST">
        <button class="btn btn-sm btn-warning" type="submit">Delete My Profile</button>
    </form>

    {{/if}}




</div>